.pizzafinal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  animation-name: Rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background-color: aqua;
  .pizzaholder {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 600px;
    width: 600px;
    height: 600px;
    background-color: #333;
    .pizzalayer {
      position: relative;
      top: 24px;
      left: 30px;
      .layer {
        position: absolute;
        width: 550px;
        height: 550px;
        opacity: 0;
        animation-name: Fadein;
        animation-duration: 5s;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes Rotate {
  0%,
  100% {
    background: repeating-conic-gradient(
      rgb(0, 255, 255) 0 15deg,
      rgb(0, 200, 200) 0 30deg
    );
  }
  50% {
    background: repeating-conic-gradient(
      rgb(0, 200, 200) 0 15deg,
      rgb(0, 255, 255) 0 30deg
    );
  }
}

@keyframes Fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
