@import url("https://fonts.googleapis.com/css?family=Merienda:400,700&display=swap&subset=latin-ext");

h1 {
  font-family: "Merienda", cursive;
  font-weight: bold;
  font-size: 5rem;
}

h3 {
  font-family: "Merienda", cursive;
  font-weight: bold;
  font-size: 1.8rem;
}
